body{
	background-color: rgb(255, 221, 153);
	font-family: monospace;
	font-size: 0.9em;
}

#container {
	height: 500px;
	width: 85%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

#first,
#second,
#third,
#fourth,
#fifth {
	position: absolute;
}

#first {
	height: 235px;
	width: 50%;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
}

#second {
	height: 265px;
	width: 70%;
	left: 0;
	bottom: 0;
	background-color: rgb(51, 51, 204);
	z-index: 2;
}

#img2 {
	position: absolute;
	bottom: 0;
	left: 57%;
}

#img5 {
	width: 100%;
	height: 130px;
}

#third {
	height: 500px;
	width: 50%;
	right: 0;
	top: 0;
	background-color: rgb(248, 205, 32);
	color: white;
}

#fourth {
	height: 60px;
	width: 50%;
	right: 0;
	bottom: 0.2px;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.search {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(51, 51, 204);
	position: absolute;
	right: 0;
	top: 0;
}


.f {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(51, 51, 204);
	position: absolute;
	bottom: 0;
	right: 20px;
}

.l {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(248, 205, 32);
	position: absolute;
	bottom: 0;
	right: 80px;
}

.play {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(248, 205, 32);
	position: absolute;
	top: 220px;
	left: 140px;	
	z-index: 10;
}

#fifth {
	height: 150px;
	width: 230px;
	right: 170px;
	top: 120px;
	background: rgba(248,80,50,1);
	/* background-color: rgb(255, 255, 255); */
	z-index: 5;
}

#text1 {
	text-align: left;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
}

#text2 {
	color: white;
	text-align: left;
	width: 30%;
	padding: 50px 50px 50px 150px;	
}

.navigation {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.navigation > p {
	float: left;
	margin: 20px;
}

#text3 {
	position: absolute;
	width: 200px;
	bottom: 90px;
	right: 80px;
}

#text4 {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

span {
	color: rgb(51, 51, 204);
}
